<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Colection</title>
    <link rel="shortcut icon" href="../public/resources/logos/logo hotwheels.png" type="image/x-icon">


    <link rel="stylesheet" href="./styles/index.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
    
    <header>

        <div class="logo">
            <img src="./resources/logos/logo hotwheels.png" alt="">
        </div>

        <div class="navegacion">
            <a href="index.html">Inicio</a>
            <a href="">Acerca de</a>
        </div>
    </header>


    <main>
        
        <section class="title">
            <h1>Guarda en My Colection tu coleccion HotWheels!</h1>
            
        </section>

        <section class="login">
            <div class="form-container">
                <form id="loginForm" action="#" method="post">
                    <h2>Inicio de Sesión</h2>
                    <label for="username">Usuario:</label>
                    <input type="text" id="username" name="username" required>
        
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
        
                    <button type="submit" id="ingresar">Ingresar</button>
        
                    <p class="signup-link">¿No tienes una cuenta? <a href="http://localhost:3000/registrarse">Regístrate aquí</a></p>
                </form>
            </div>
        </section>

        <div class="banner">
            <img src="./resources/logos/banner.jpeg" alt="">
        </div>

        <section class="porque">
            

            <h1>Lleva tu coleccion a todas partes!</h1>
            <p>Ingresa tu autos a My Colection y llevala contigo a todas partes, así puedes
                presumir tus piezas donde quiera que estes
            </p>
            <p> <br>
                Esta no es una pagina oficial de Matel !! Esta pagina es creada por un coleccionista
                que quiere añadir algo nuevo al mundo de coleccion HotWheels :)
            </p>
        </section>
    </main>

    <footer>
        <div class="contacto">
            <p>Puedes contactar con nosotros por medio de:</p>
            <a href="https://www.instagram.com/edwin_solc/">Instagram: @edwin_solc</a>
        </div>
        <div class="fines">
            <h5>My Colection</h5>
            <p>Esta pagina es creada con fines de ayudar, facilitar y compartir con la comunidad coleccionista de HotWheels
                , de forma que podamos mostrar nuestra coleccion donde quiera que estemos
            </p>
        </div>

        <div class="creador">
            <p>Sixth Legacy</p>
        </div>
    </footer>

    <script src=".js/index.js"></script>
    
</body>
</html>