<footer>
    <div class="navegacion">
        <a href="http://localhost:3000/principal"><i class="fa-solid fa-house"></i></a>
        <a href="http://localhost:3000/agregar"><i class="fa-solid fa-circle-plus"></i></a>
        <a href="http://localhost:3000/perfil"><i class="fa-solid fa-circle-user"></i></a>
    </div>
</footer>