

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

main{
    font-family: "Kalam", cursive;
}

section{
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.300);
    padding: 5%;
}

header{
    display: flex;
    align-items: center;
}

